node_modules
yarn-error.log
.DS_Store

# Next.js
/.next/
/out/
next-env.d.ts

# build artifacts
/build
*.tsbuildinfo

# generated (copied from node_modules on postinstall)
/public/replicad_single.wasm

# env
.env*.local
